.todoItem{
    display: flex;
    background-color: #7C81AD;
    padding: 10px;
    justify-content: space-between;
    gap: 5px;
    color: white;
    border-radius: 5px;
    align-items: center;
}

.todoButtons {
    display: flex;
    gap: 5px;
}

button {
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
    color: black;
}

.done {
    color: green;
    border-radius: 5px;
}


.edit {

    color: darkblue;
    border-radius: 5px;
}

.delete {

    color: red;
    border-radius: 5px;
}