.app {
    display: flex;
    justify-content: center;
    background-color: #4B527E;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
}

.title {
    margin-top: 50px;
    color: white;
    background-color: #7C81AD;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
}